.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

 

    main {
        flex-grow: 1;
    }

    footer {
        height: 80px;
        display: flex;
        align-items: center;
        color: whitesmoke;
        background-color: #151515;
        font-size: 1.2em;
    }
}
